<!-- Form venue_like start -->
<form action="/create_venue_like_from_venue" method="post">
<!-- Form venue_like end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_like.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venue_id start -->
  <!-- Input for venue_id start -->
  <input type="hidden" name="venue_id" value="<%= @venue.id %>">
  <!-- Input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create venue like
  </button>
</form>
