<form action="/create_venue_like_from_venue" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_like.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="venue_id" value="<%= @venue.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create venue like
  </button>
</form>
