<h1>
  Add a new cocktail
</h1>


<hr>

<!-- Form cocktail start -->
<form action="/create_cocktail" method="post">
<!-- Form cocktail end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for ingredients start -->
  <div class="form-group">
    <label for="ingredients">
      Ingredients
    </label>

    <!-- Input for ingredients start -->
    <input type="text" id="ingredients" name="ingredients" class="form-control">
    <!-- Input for ingredients end -->
  </div>
  <!-- Label and input for ingredients end -->

  <!-- Label and input for likes_count start -->
  <div class="form-group">
    <label for="likes_count">
      Likes count
    </label>

    <!-- Input for likes_count start -->
    <input type="text" id="likes_count" name="likes_count" class="form-control">
    <!-- Input for likes_count end -->
  </div>
  <!-- Label and input for likes_count end -->

  <!-- Label and input for comment_count start -->
  <div class="form-group">
    <label for="comment_count">
      Comment count
    </label>

    <!-- Input for comment_count start -->
    <input type="text" id="comment_count" name="comment_count" class="form-control">
    <!-- Input for comment_count end -->
  </div>
  <!-- Label and input for comment_count end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create cocktail
  </button>
</form>

<hr>

<a href="/cocktails">
  Go back
</a>
