<% if @venue_comment.present? %>
  <% if @venue_comment.errors.any? %>
    <% @venue_comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new venue comment
</h1>


<hr>

<form action="/create_venue_comment" method="post">

  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_comment.author_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @venue_comment.venue_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @venue_comment.body %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create venue comment
  </button>
</form>

<hr>

<a href="/venue_comments">
  Go back
</a>
