<h1>
  Edit venue like #<%= @venue_like.id %>
</h1>

<hr>

<!-- Form venue_like start -->
<form action="/update_venue_like/<%= @venue_like.id %>" method="post">
<!-- Form venue_like end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_like.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control" value="<%= @venue_like.venue_id %>">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update venue like
  </button>
</form>

<hr>

<a href="/venue_likes">
  Go back
</a>
