<h1>
  Add a new venue like
</h1>


<hr>

<!-- Form venue_like start -->
<form action="/create_venue_like" method="post">
<!-- Form venue_like end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_like.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @venue_like.venue_id), :class => "form-control") %>
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create venue like
  </button>
</form>

<hr>

<a href="/venue_likes">
  Go back
</a>
