<h1>
  Add a new venue like
</h1>


<hr>

<form action="/create_venue_like" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_like.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @venue_like.venue_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create venue like
  </button>
</form>

<hr>

<a href="/venue_likes">
  Go back
</a>
