<form action="/create_photo_comment_from_cocktail_photo" method="post">

  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :created_at, @photo_comment.author_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="photo_id" value="<%= @cocktail_photo.id %>">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @photo_comment.body %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create photo comment
  </button>
</form>
