<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Photo Likes

    <a data-toggle="collapse" href="#cocktail_photo_photo_likes_new_form">
      Add photo like
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cocktail_photo.photo_likes.each do |photo_like| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/photo_likes/<%= photo_like.id %>">
          <%= photo_like.photo_id %>
        </a>

        <a href="/delete_photo_like_from_photo/<%= photo_like.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cocktail_photo_photo_likes_new_form">
        <%= render partial: "cocktail_photo_templates/cocktail_photo_photo_likes_new_form" %>
      </div>
    </div>

  </ul>
</div>
