<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Photo Comments

    <a data-toggle="collapse" href="#cocktail_photo_photo_comments_new_form">
      Add photo comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cocktail_photo.photo_comments.each do |photo_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/photo_comments/<%= photo_comment.id %>">
          <%= photo_comment.author_id %>
        </a>

        <a href="/delete_photo_comment_from_photo/<%= photo_comment.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cocktail_photo_photo_comments_new_form">
        <%= render partial: "cocktail_photo_templates/cocktail_photo_photo_comments_new_form" %>
      </div>
    </div>

  </ul>
</div>
