<% if @photo_comment.present? %>
  <% if @photo_comment.errors.any? %>
    <% @photo_comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new photo comment
</h1>


<hr>

<form action="/create_photo_comment" method="post">

  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :created_at, @photo_comment.author_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(CocktailPhoto.all, :id, :created_at, @photo_comment.photo_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @photo_comment.body %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create photo comment
  </button>
</form>

<hr>

<a href="/photo_comments">
  Go back
</a>
