<h1>
  Add a new photo like
</h1>


<hr>

<form action="/create_photo_like" method="post">

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(CocktailPhoto.all, :id, :created_at, @photo_like.photo_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @photo_like.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create photo like
  </button>
</form>

<hr>

<a href="/photo_likes">
  Go back
</a>
